/*
[Author]: John Bostater

[Start Date]: 7/16/24

[Description]:
  This CSS document contains all of the relevant fonts, styles, & animations 
  for my Websites "About Me" page :)
*/


/*Buttons*/
/************************************************/

/*Go Back to Welcome Page*/
.goBackButton{
  /*Font size and style*/
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 10px;
    border-color: transparent;
    background-color: gray;
    height: 50px;
    width: 100px;

  /*Change the cursor upon the user hovering*/
    cursor: pointer;
}

/*Change the color of the button upon hovering*/
.goBackButton:hover{
   background-color: #6484db;
}
/************************************************/


/*Images*/
/************************************************/

/*SC4 Logo*/
.sc4Logo{
  /*Set the dimensions of the image*/
    width: 300px;
    height: 300px;
}


/*ASU Logo*/
.asuLogo{
  /*Set the dimensions of the image*/
    width: 500px;
    height: 300px;
}


/*Invert the color of the github logo*/
.invertImageColor{
  /*Invert the image color and set positioning*/
  filter: invert(100%);
  position: relative;
  top: -30px;
}
/************************************************/


/*Font Style & Size of text*/
/************************************************/
/*Set the font size and style*/
body{
  /*Font Styling*/
  font-size: 20px;
  background-color: black;
  
  /*Text Alignment*/  
  text-align: center;
}  


/*About Me Header*/
h1{
  /*Set the font size and style*/
  font-size: 65px;
  -webkit-text-fill-color: white;
}


/*Smaller header*/
h2{
  /*Set the font size and style*/
  font-size: 30px;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  -webkit-text-fill-color: #d1d1d1;
}


/*Body text #1, 'About Me', we reference via 'id'*/
.body-text-0{
  /*Font Styling*/
  -webkit-text-fill-color: gray;  
  font-size: 20px;
}


/*ASU Header Text*/
.asuHeaderText{

  /*Set the font size and style*/
  font-size: 50px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  -webkit-text-fill-color: #7B0000;
}


/*SC4 Header Text*/
.sc4HeaderText{
  /*Set the font size and style*/
  font-size: 50px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  -webkit-text-fill-color: #002650;
}



/************************************************/



/*Animation & Art*/
/************************************************/
/*TEST OF ARTISTIC SKILLS! MAKE A cactus!*/
/*'About Me' art container*/

/*Container for the placement cactus sprite/image*/
.cactus{
  /*Pixels & Position*/
    height: 100px;
    width: 100px;
    position: absolute;
    top: 54px;
    rotate: 5deg;
}
  

/*DEBUG OBJECT [RED CIRCLE]*/
.circle0{
  height: 50px;
  width: 50px;
  border-radius: 50px;
  background-color: red;
  position: absolute;
  top: 200px;
}
/************************************************/


/*Alignment*/
/************************************************/

/*Encapsulating vertical alignment for the page*/
.vertical0{
  text-align: center;
  
  /*BELOW IS FOR OUTLINING YOUR BOX FOR DEBUGGING*/
  /*DELETE BEFORE LAUNCH!!*/
  /*padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;*/
}
/************************************************/