/*
[Author]: John Bostater

[Start Date]: 7/16/24

[Description]:
  This CSS document contains all of the relevant fonts, styles, & animations 
  for my Websites "About Me" page :)
*/





/*Buttons & Navigation*/
/************************************************/


/************************************************/



/*Text & Native HTML Element Styling*/
/************************************************/

/*Name on the Intro Page*/
.introName{

  padding-top: 2%;
  font-size: 3vw;
  font-family: "GothicPixel";


  /*=====================================*/
  background: linear-gradient(
      330deg,
      red 5%, orange 75%
  );


  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  /*=====================================*/
}



/*Set the font size and style*/
header{

  padding: 1%;

  /*=====================================*/
  background: linear-gradient(
    to top,
    black 80%, white 200%, gray 200%
  );
  /*=====================================*/

}

/*Set the font size and style*/
footer{

  padding: 2%;
  font-size: 1vw;  
  color: white;

  /*=====================================*/
  background: linear-gradient(
    to top,
    black 80%, white 200%, gray 200%
  );
  /*=====================================*/

}


/*Set the font size and style*/
body{
  /*Font Styling*/
  font-size: 20px;
  background-color: black;
  padding: 0;
  margin: 0;
  
  /*Text Alignment*/  
  text-align: center;
}  


/*Link Format*/
a{

  font-family: "GothicPixel";
  text-decoration: none;

  background: linear-gradient(
      to bottom,
      purple 10%, blue 10%, white 90%
  );


  /*=====================================*/
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  /*=====================================*/

  padding: 2%;
}


a:hover{
  color: blue;
}


h1{
  /*Set the font size and style*/
  font-family: 'Times New Roman', Times, serif;
  -webkit-text-fill-color: white;
  font-size: 60px;
  z-index: 2;
}


h2{
  /*Set the font size and style*/
  font-size: 30px;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  -webkit-text-fill-color: #d1d1d1;
}

h3{
  /*Set the font size and style*/
  font-size: 35px;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  -webkit-text-fill-color: #6c6c6c;
}


/*Body text #1, 'About Me', we reference via 'id'*/
.body-text-0{
  /*Font Styling*/
  -webkit-text-fill-color: gray;  
  font-size: 20px;
}


/*ASU Header Text*/
.asuHeaderText{

  /*Set the font size and style*/
  font-size: 50px;
/*
  font-family: Georgia, 'Times New Roman', Times, serif;
*/
  font-family: GothicPixel;
  -webkit-text-fill-color: #7B0000;
}


/*SC4 Header Text*/
.sc4HeaderText{

  /*Set the font size and style*/
  font-size: 50px;
  font-family: GothicPixel;
  -webkit-text-fill-color: #002650;
}

/************************************************/


/*Images*/
/************************************************/

/*Photo of me*/
.mePhoto{

  border: 3px solid white;
  width: 30%;
  image-rendering: crisp-edges;
}


/*SC4 Logo*/
.sc4Logo{
  /*Set the dimensions of the image*/
    width: 300px;
    height: 300px;
}


/*ASU Logo*/
.asuLogo{
  /*Set the dimensions of the image*/
    width: 550px;
    height: 300px;
}


/*Invert the color of the github logo*/
.invertImageColor{

  /*Invert the image color and set positioning*/
  filter: invert(100%);
  position: relative;
  top: -30px;
}

/************************************************/



/*Animation & Art*/
/************************************************/

/* Welcome Text on the mainpage*/
.welcomeText{

  /*Set the font size and style*/
  font-family: 'Times New Roman', Times, serif;
  -webkit-text-fill-color: white;
  font-size: 3.5vw;
  transform: translateY(200%);
  opacity: 0;
  animation: fadeIn 2s ease-out forwards; 
  animation-delay: 1.5s;
  position: relative;
  z-index: 1;
}


/*Text box for the main page*/
.textBox{

  /*Font Styling*/
  -webkit-text-fill-color: gray;  
  font-size: 1vw;
  border: 2px solid white;
  padding: 3%;
  margin-top: -6.5%;
  animation-delay: 2s;
  animation: fadeIn 3s ease-in;
}



/*Beach Background Image*/
.duneBackground{
  width: 20%; height: 2%; display: block;
  z-index: 0;
}

/*Sunset Sky for the scene*/
.sunsetSky{
  inset: 0;
  position: absolute;
  margin-top: 3.1%;
  margin-left: 30%;
  width: 40%; height: 50%; display: block;
}


/*Cactus*/
.cactus{
  width: 2%; height: 4%; display: block;
  transform: translate(600%, -105%);
}

/*Cactus*/
.cactus0{
  width: 2%; height: 4%; display: block;
  transform: translate(-400%, -480%);
}


/*Moon & Sun*/
.moon{
  transform: translate(0, -130);
  width: 10%; display: block;
  animation: fadeIn 2s ease-in, planetBob 5s ease-in-out infinite;
}


/*Scorpion*/
.scorpionManz{

  /*Set the dimensions of the image*/
  opacity: 0;
  width:3.5%; height:3.5%; display: block;
  animation: scorpionSneak 2s ease-in forwards;
  animation-delay: 1s;
  transform: translate(200%, -220%);
}


/*Cloud 0*/
.cloud0{
  margin-top: -2%;
  margin-left: -20%;
  width: 10%; display: block;
  animation: cloudAnim 14s infinite;
}

/*Cloud 1*/
.cloud1{
  opacity: 0;
  margin-left: 20%;
  margin-top: -2%;
  width: 10%; display: block;
  animation: cloudAnim 14s infinite;
  animation-delay: 1.5s;
}


/*Fade Down Animation*/
/*===============================================*/
@keyframes fadeDown {
  from {
    opacity: 0;
    transform: translateY(175%);
  }
  to {
    opacity: .75;
    transform: translateY(200%);
  }
}
/*===============================================*/


/*Fade Up Animation for the Introduction text (Intro page)*/
@keyframes fadeUp{
  from {
    opacity: 0;
    transform: translateY(25%);
  }
  to {
    opacity: 1;
    transform: translateY(0%);
  }
}


/*Fade In Animation*/
@keyframes fadeIn{
  from{opacity:0;}
  to{opacity: 1;}
}


/*Animation for the clouds movements*/
@keyframes cloudAnim{
  0% {
    opacity: 0;
    transform: translateY(0%);
  }
  50% {
    opacity: 1;
    transform: translateY(-10%);
  }
  100% {
    opacity: 0;
    transform: translateY(0%);
  }
}


/*Fade Right to Left Animation*/
/*===============================================*/
@keyframes scorpionSneak {
  from {
    opacity: 0;
    transform: scale(1) translate(300%, -220%);
  }
  to {
    opacity: 1;
    transform: scale(1) translate(200%, -220%);
  }
}
/*===============================================*/


/*Fade Up Animation*/
@keyframes planetRise {
  from {
    opacity: 0;
    transform: scale(1) translateY(-200%);
  }
  to {
    opacity: 1;
    transform: scale(1) translateY(-100%);
  }
}


/*Bob Animation*/
/*===============================================*/
@keyframes planetBob {
  0% {
    transform: translateY(50%);
  }
  50% {
    transform: translateY(80%);
  }
  100% {
    transform: translateY(50%);
  }
}
/*===============================================*/

/************************************************/


/*Custom Fonts*/
/************************************************/

/*===============================================*/
@font-face{
  font-family: "GothicPixel";
  src: 
    url("../Fonts/old-english-gothic-pixel-font/OldEnglishGothicPixelRegular-ow2Bo.ttf") format("truetype");
}
/*===============================================*/

/************************************************/


/*Alignment*/
/************************************************/

/*Encapsulating vertical alignment for the page*/
.vertical0{
  text-align: center;
  justify-content: center;
}
/************************************************/


/*
[Generative AI Statement]: ChatGPT (OpenAI, January 21, 2026 to Indefinite End of Project) 

[Purpose]: Used AI for examples of animations and how to implement dynamic scaling into my program.

[Note]: 
  The fade in and scorpion walk animations are courtesy of chat. 
  Just needed a quick refresher so being able to copy n paste it in was nice.
  As alwasy I marked off the AI generated code between comments marked /*================
*/