/*
[Author]: John Bostater

[Start Date]: 7/16/24

[Description]:
  This CSS document contains all of the relevant fonts, styles, & animations 
  for my Websites "About Me" page :)
*/


/*Buttons & Navigation*/
/************************************************/


/************************************************/



/*Font Style & Size of text*/
/************************************************/
/*Set the font size and style*/
body{
  /*Font Styling*/
  font-size: 20px;
  background-color: black;
  padding: 0;
  margin: 0;
  
  /*Text Alignment*/  
  text-align: center;
}  


/*About Me Header*/
h1{
  /*Set the font size and style*/
  -webkit-text-fill-color: white;
  font-size: 5vw;
}


/*Smaller header*/
h2{
  /*Set the font size and style*/
  font-size: 30px;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  -webkit-text-fill-color: #d1d1d1;
}

h3{
  /*Set the font size and style*/
  font-size: 50px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  -webkit-text-fill-color: #6c6c6c;
}

/*Body text #1, 'About Me', we reference via 'id'*/
.body-text-0{
  /*Font Styling*/
  -webkit-text-fill-color: gray;  
  font-size: 1vw;
}


/*Text box for the main page*/
.textBox{

  /*Font Styling*/
  -webkit-text-fill-color: gray;  
  font-size: 1.5vw;
  border: 2px solid white;
  padding: 7%;
  margin-top: -6.5%;
}


/*ASU Header Text*/
.asuHeaderText{

  /*Set the font size and style*/
  font-size: 50px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  -webkit-text-fill-color: #7B0000;
}


/*SC4 Header Text*/
.sc4HeaderText{
  /*Set the font size and style*/
  font-size: 50px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  -webkit-text-fill-color: #002650;
}

/************************************************/


/*Images*/
/************************************************/

/*SC4 Logo*/
.sc4Logo{
  /*Set the dimensions of the image*/
    width: 300px;
    height: 300px;
}


/*ASU Logo*/
.asuLogo{
  /*Set the dimensions of the image*/
    width: 550px;
    height: 300px;
}


/*Invert the color of the github logo*/
.invertImageColor{
  /*Invert the image color and set positioning*/
  filter: invert(100%);
  position: relative;
  top: -30px;
}



/*Beach Background Image*/
.duneBackground{

  width: 30%; height: 3%; display: block;
}


/*Scorpion Moving*/
.scorpionManz{

  /*Set the dimensions of the image*/
  width:3.5%; height:3.5%; display: block;
  animation: scorpionSneak 2s ease-in;
  transform: translate(550%, -220%);
}


/*Cactus*/
.cactus{

  width: 2%; height: 4%; display: block;
  transform: translate(600%, -105%)
}


/************************************************/



/*Animation & Art*/
/************************************************/


/*Moon & Sun*/
.moon{
  margin-left: 25%;
  width: 10%; display: block;
  transform: translateY(-200%);
  animation: fadeInOut 2s ease-in, planetBob 10s ease-in-out infinite;
}


/* Welcome Text on the mainpage*/
.welcomeText{
  opacity: 0;
  animation: fadeDown 2s ease-out forwards;
}


/*Cloud*/
.cloud{
  margin-left: 35%;
  width: 10%; display: block;
  animation: cloudAnim 13s infinite;
}


/*Fade Down Animation*/
/*===============================================*/
@keyframes fadeDown {
  from {
    opacity: 0;
    transform: translateY(150%);
  }
  to {
    opacity: 1;
    transform: translateY(200%);
  }
}
/*===============================================*/

/*Fade In and Out Animation*/
@keyframes fadeInOut{
  from{opacity:0;}
  to{opacity: 1;}
}


/*Animation for the clouds movements*/
@keyframes cloudAnim{
  0% {
    opacity: 0;
    transform: translateY(0%);
  }
  50% {
    opacity: 1;
    transform: translateY(-10%);
  }
  100% {
    opacity: 0;
    transform: translateY(0%);
  }
}


/*Fade Left to Right Animation*/
/*===============================================*/
@keyframes scorpionSneak {
  from {
    opacity: 0;
    transform: scale(1) translate(800%, -220%);
  }
  to {
    opacity: 1;
    transform: scale(1) translate(550%, -220%);
  }
}
/*===============================================*/



/*Fade Up Animation*/
@keyframes planetRise {
  from {
    opacity: 0;
    transform: scale(1) translateY(-100%);
  }
  to {
    opacity: 1;
    transform: scale(1) translateY(-100%);
  }
}


/*Bob Animation*/
/*===============================================*/
@keyframes planetBob {
  0% {
    transform: translateY(0%);
  }
  50% {
    transform: translateY(-5%);
  }
  100% {
    transform: translateY(0%);
  }
}
/*===============================================*/





/************************************************/


/*Alignment*/
/************************************************/

/*Encapsulating vertical alignment for the page*/
.vertical0{
  text-align: center;
  justify-content: center;
}
/************************************************/


/*
[Generative AI Statement]: ChatGPT (OpenAI, January 21, 2026 to Indefinite End of Project) 

[Purpose]: Used AI for examples of animations and how to implement dynamic scaling into my program.

[Note]: 
  The fade in and scorpion walk animations are courtesy of chat. 
  Just needed a quick refresher so being able to copy n paste it in was nice.
  As alwasy I marked off the AI generated code between comments marked /*================
*/