/*
[Author]: John Bostater

[Start Date]: 7/16/24

[Description]:
  This CSS document contains all of the relevant fonts, styles, & animations 
  for my Websites "About Me" page :)
*/


/*Buttons*/
/************************************************/

/*Go Back to Welcome Page*/
.goBackButton{
  /*Font size and style*/
    font-size: 18px;
    font-family: '';
    font-weight: bold;
    border-radius: 10px;
    border-color: transparent;
    padding: 10px;

  /*Change the cursor upon the user hovering*/
    cursor: pointer;
}

/*Change the color of the button upon hovering*/
.goBackButton:hover{
    background-color: #6484db;
}

/************************************************/

/*Images*/
/************************************************/
.image1{
  /*Set the dimensions of the image*/
    width: 300px;
    height: 300px;
}
/************************************************/


/*Font Style & Size*/
/************************************************/

/*About Me Header*/
h1{
  /*Set the font size and style*/
  font-size: 48px;
  font-style: italic;
  -webkit-text-fill-color: white;
}

/*Set the font size and style*/
body{
  /*Font Styling*/
    font-size: 20px;
    font-family: 'Times New Roman';
    background-color: black;

  /*Text Alignment*/  
  text-align: center;
}  

/*Body text #1, 'About Me', we reference via 'id'*/
#body-text-1{
  /*Font Styling*/
    -webkit-text-fill-color: white;  
    font-size: 20px;
}
/************************************************/


/*Alignment*/
/************************************************/

/*Encapsulating vertical alignment for the page*/
.vertical0{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  
  /*BELOW IS FOR OUTLINING YOUR BOX FOR DEBUGGING*/
  /*DELETE BEFORE LAUNCH!!*/
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}


/*  [Horizontal Alignment box (template!!)]
.horizontal1 {
  display: flex;
  gap: 10px;  
}
*/
/************************************************/