/*
[Author]: John Bostater

[Start date]: 6/16/24

[Description]:  
  //Text here...
*/


/*Text*/
/****************************************************************************************/

/*Set the font and alignment of the welcome text*/
body {    
  /**/
  font-family: 'Times New Roman';
  font-size: 100px;
  font-weight: bold;
  font-style: italic;
  -webkit-text-fill-color: white;
  background-color: black;    
  
  /*Set the alignment of the text to the center of the page*/
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;

  left: 50%;
  right: 50%;
  bottom: 50%;
  top: 50%;
}


/* We give the id name "textElement" to the body element upon the user's mouse hover*/
.vertical0:hover #textElement{
  /*Animation and action*/
  opacity: 0;
  transition: opacity 0.5s ease;
  cursor: default;
}
/****************************************************************************************/


/*Animation*/
/******************************************************/

/*Animation Object*/
.moon {
  /*Object dimensions & styling*/
    height: 100px;
    width: 100px;
    border-radius: 100px;
    background-color: rgb(88, 87, 87);

  /*Positioning*/
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 200px;
}


.crater1 {
  width: 10px;
  height: 10px;
  background-color: gray;
  border-radius: 10px;  
  position: relative;
  left: 34px;
  top: 24px;
}


.crater2 {
  width: 10px;
  height: 10px;
  background-color: black;
  border-radius: 10px;  
  position: relative;
  margin: 0;
  left: 22px;
  top: 22px;
}


/*Container for the object/planets that are rotating*/
.moonContainer {
  /*Animation and positioning*/
  position: absolute;
  animation: rotate 12s infinite linear reverse;    
  
  top:50%;
  bottom:50%;
  left:50%;
  right:50%;
}

.staticRotate {
  position: absolute;
  animation: rotate 12s infinite linear;
}


/*Moon Animation*/
@keyframes rotate {
  from{
    transform: rotate(0deg);
  }
  to{
    transform: rotate(360deg);
  } 
}
/******************************************************/


/*Containers: vertical and horizontal alignments*/
/****************************************************************************************/
.vertical1 {
  width: 375px;
  height: 100px;
}
/****************************************************************************************/